apiVersion: apps/v1
kind: Deployment
metadata:
  name: mydeployment
  namespace: model-serving
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mypod # the deployment manage all pods with labels matching mypod
  template:
    metadata:
      labels:
        app: mypod # labels for all the pods the deployment is managing
    spec:
      containers:
        - name: mypod
          image: nginx
          resources:
            limits:
              memory: 600Mi
              cpu: 1
            requests:
              memory: 300Mi
              cpu: 500m